<h2>Routines</h2>
<ul>
  <% @routines.each do |routine| %>
    <li><%= routine.user_appliance&.name || "No appliance assigned" %></li>
    <li><%= routine.cost || "N/A" %></li>
    <li><%= routine.starttime&.strftime('%H:%M %p') || "No start time" %></li>
    <li><%= routine.endtime&.strftime('%H:%M %p') || "No end time" %></li>
    <li><%= routine.day || "No day assigned" %></li>
  <% end %>
</ul>
