<nav>
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "Recommendations", recommendations_path %>
    </li>
    <li>
      <%= link_to "All Appliances", user_appliances_path %>
    </li>
    <li>
      <%= link_to "Statistics", statistics_path %>
    </li>
    <li>
      <%= link_to "Articles", articles_path %>
    </li>
  </ul>
</nav>
