<p>Overview for <br>
2024/03</p>

<div class="panel-container" data-controller="button">
  <div class="panel" data-action="click->button#scrollToCenter">
    <% if @price_rn %>
    <button class="btn-price">
      <%= @price_rn.cost %> $/kWh</button>
    <% else %>
      <p>No price data available for this hour.</p>
    <% end %>
    <p>MIN: €<%= @min_price %>.</p>
    <p>MAX: €<%= @max_price %>.</p>
    <div data-controller="price-chart" data-price-chart-costs-value="<%= @formatted_data %>"></div>
  </div>

  <div class="panel" data-action="click->button#scrollToCenter">
  <% if current_user %>
    <div>
      <p>Amount Saved</p>
      <p>€<%= @total_savings.round(2) %></p>
    </div>
  <% end %>
</div>

  <div class="panel" data-action="click->button#scrollToCenter">
    <div>nana</div>
  </div>
</div>

  <%= link_to "View recommendations", recommendations_path, class: "btn-active" %>


