<p>Overview for <br>
2024/03</p>
<div data-controller="price-chart" data-price-chart-costs-value="<%= @formatted_data%>"></div>




<% if @price_rn %>
  <p>The price for the current hour (<%= @price_rn.datetime.strftime('%H:%M')  %>) is €<%= @price_rn.cost %>.</p>
<% else %>
  <p>No price data available for this hour.</p>
<% end %>

<br>

<p>The minimum price today is €<%= @min_price %>.</p>
<p>The maximum price today is €<%= @max_price %>.</p>


<h1>Average Prices by Hour and Day</h1>

<table class="price-table">
  <thead> 
    <tr>
      <th>Hour</th>
      <% @average_prices.group_by { |price| price.day }.keys.each do |day| %>
        <th><%= day %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% (0..23).each do |hour| %>
      <tr>
        <td><%= format('%02d:00', hour) %></td>
        <% @average_prices.group_by { |price| price.day }.each do |day, prices| %>
          <% hourly_price = prices.find { |p| p.hour.to_i == hour } %>
          <td><%= number_to_currency(hourly_price&.average_price || 0, unit: '€', precision: 4) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
