<p>Overview for <br><%= DateTime.now.strftime("%Y") %></p>

<div class="panel-container" data-controller="button">
  <div class="panel" data-action="click->button#scrollToCenter">
    <% if @price_rn %>
    <button class="btn-price">
      <%= @price_rn.cost %> € / kWh</button>
    <% else %>
      <p>No price data available for this hour.</p>
    <% end %>
    <p>MIN: €<%= @min_price %>.</p>
    <p>MAX: €<%= @max_price %>.</p>
    <div data-controller="price-chart" data-price-chart-costs-value="<%= @formatted_data %>"></div>
  </div>

  <div class="panel" data-action="click->button#scrollToCenter">
    <% if current_user && @statistics %>
      <div>
        <h2><%= @statistics[:rating] %></h2>
      </div>
      <div>
        <p><%= number_with_precision(@statistics[:improvement], precision: 2) %>% than last year</p>
      </div>
      <div>
        <p>YTD Savings</p>
        <p>€<%= number_with_precision(@statistics[:applied_savings], precision: 2) %></p>
      </div>
      <div>
        <p>Projected Savings (<%= DateTime.now.strftime("%Y") %>)</p>
        <p>€<%= number_with_precision(@statistics[:total_savings], precision: 2) %></p>
      </div>
      <div>
        <p>Annual Consumption</p>
        <p><%= number_with_precision(@statistics[:consumption], precision: 2) %> kWh</p>
      </div>
    <% end %>
  </div>

  <div class="panel" data-action="click->button#scrollToCenter">
    <div>nana</div>
  </div>
</div>

  <%= link_to "View recommendations", recommendations_path, class: "btn-active" %>
