<br><p>Your <%= DateTime.now.strftime("%Y") %> Snapshot</p><br>

<div class="panel-container" data-controller="button">
  <div class="panel" data-action="click->button#scrollToCenter">
    <% if @price_rn %>
    <button class="btn-price">
      <%= @price_rn.cost.round(2) %> € / kWh</button>
    <% else %>
      <p>No price data available for this hour.</p>
    <% end %>
    <p>Min €<%= @min_price %></p>
    <p>Max €<%= @max_price %></p>
    <div data-controller="price-chart" data-price-chart-costs-value="<%= @formatted_data %>"></div>
  </div>

  <div class="panel" data-action="click->button#scrollToCenter">
    <% if @statistics[:rating] != "N/A" %>
      <button class="btn-price"> <%=  @statistics[:consumption].round(2) %> kWh</button>
    <% else %>
      <button class="btn-price">0.00 kWh</button>
    <% end %>
    <p>Initial €<%= @statistics[:initial_rate].round(2) %></p>
    <p>Current: €<%= @statistics[:current_rate].round(2) %></p>
    <div data-controller="comparator-chart" data-comparator-chart-rates-value="<%= @comparator_data %>"></div>
  </div>

  <div class="panel" data-action="click->button#scrollToCenter">
    <% if @statistics[:potential_savings] - @statistics[:applied_savings] == 0 || @statistics[:potential_savings] == 0 %>
      <button class="btn-price">100% Optimised</button>
    <% else %>
      <button class="btn-price">
        <%= ((@statistics[:applied_savings] / @statistics[:potential_savings]) * 100).round(0) %>% Optimised</button>
    <% end %>
    <p>Applied: €<%= @statistics[:applied_savings].round(2) %></p>
    <p>Potential: €<%= @statistics[:potential_savings].round(2) %></p>
    <div data-controller="potential-chart" data-potential-chart-savings-value="<%= @potential_data %>"></div>
  </div>
</div>

<div class="performance-container mb-3">
  <div class="performance-grade">
    <h2 style="font-size: 70px;"><%= @statistics[:rating] %></h2>
  </div>
  <div class="performance-savings">
    <p class="savings-amount" style="margin-bottom: 3px;">€<%= @statistics[:applied_savings].round(2) %></p>
    <% improvement = @statistics[:improvement] %>
    <% if improvement.positive? %>
      <p class="savings-label" style="color: #AD4A4A;">
        <%= number_with_precision(improvement, precision: 2) %>% than last year
      </p>
    <% elsif improvement.negative? %>
      <p class="savings-label" style="color: #67A55E;">
        <%= number_with_precision(improvement, precision: 2) %>% than last year
      </p>
    <% else %>
      <p class="savings-label" style="color: #FFFFFF;">
        savings this year
      </p>
    <% end %>
  </div>
</div>

  <%= link_to "View recommendations", recommendations_path, class: "btn-active" %>


