<p>Overview for <br><%= DateTime.now.strftime("%Y") %></p>

<div class="panel-container" data-controller="button">
  <div class="panel" data-action="click->button#scrollToCenter">
    <% if @price_rn %>
    <button class="btn-price">
      <%= @price_rn.cost.round(2) %> € / kWh</button>
    <% else %>
      <p>No price data available for this hour.</p>
    <% end %>
    <p>MIN: €<%= @min_price %>.</p>
    <p>MAX: €<%= @max_price %>.</p>
    <div data-controller="price-chart" data-price-chart-costs-value="<%= @formatted_data %>"></div>
  </div>

  <div class="panel" data-action="click->button#scrollToCenter">
    <% if @statistics[:rating] != "N/A" %>
    <button class="btn-price"> <%=  @statistics[:consumption].round(2) %>kWh</button>
    <% end %>
    <p>MIN: €<%= @min_price %>.</p>
    <p>MAX: €<%= @max_price %>.</p>
    <div data-controller="comparator-chart" data-comparator-chart-rates-value="<%= @comparator_data %>"></div>
  </div>

  <div class="panel" data-action="click->button#scrollToCenter">
    <div>nana</div>
  </div>
</div>

<div class="performance-container mb-3">
  <div class="performance-grade">
    <h2 style="font-size: 70px;"><%= @statistics[:rating] %></h2>
  </div>
  <div class="performance-savings">
    <p class="savings-amount" style="margin-bottom: 3px;">€<%= @statistics[:applied_savings].round(2) %></p>
    <% improvement = @statistics[:improvement] %>
    <p class="savings-label" style="color: <%= improvement.positive? ? '#AD4A4A' : (improvement.negative? ? '#67A55E' : '#000000') %>;">
    <%= number_with_precision(improvement, precision: 2) %>% than last year</p>
  </div>
</div>

  <%= link_to "View recommendations", recommendations_path, class: "btn-active" %>


