<!DOCTYPE html>
<html>
  <head>
    <title>Nap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

  </head>

  <body class="<%= "#{controller.controller_name}-#{controller.action_name}" %>">
    <% unless current_page?(landing_path) || current_page?(new_user_session_path) %><%= render "shared/navbar" %><% end %>

    <%= render "shared/flashes" %>

    <% unless current_page?(landing_path) || current_page?(new_user_session_path) %>
    <div class="my-own-space">
      <%= link_to profile_path, class: "yellow-circle on-top" do %>
        <%= image_tag 'spark.svg' %>
      <% end %>
    </div>
    <% end %>

    <div class="on-top"><%= yield %></div>

  <% unless current_page?(new_user_session_path) %>
    <div class="overlay"></div>
    <%= image_tag 'blob.svg', class: "blob" %>
    <% end %>
  </body>
</html>
