<!DOCTYPE html>
<html>
  <head>
    <title>Nap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <div class="my-own-space">
      <div class="yellow-circle on-top">
        <%= image_tag 'spark.svg' %>
      </div>
    </div>

    <div class="on-top"><%= yield %></div>

    <div class="overlay"></div>
    <%= image_tag 'blob.svg', class: "blob" %>
  </body>
</html>
