<div class="title-container">
  <h1 class="page-title">NEW DEVICE</h1>
  <%= link_to user_appliances_path, class: "close-btn" do %>
    <div class="circle">
      <%= image_tag 'cross.svg', alt: 'Close', class: 'cross-icon' %>
    </div>
  <% end %>
</div>

  <div data-controller="button-active">
    <%= simple_form_for @user_appliance do |f| %>
      <div class="form-container">
        <div class="error-notification">
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        </div>
        <div class="routine-form-group">
          <%= f.input :brand,
                      collection: @brands,
                      include_blank: "Select an appliance",
                      input_html: { class: "routine-form-control", onchange: 'this.form.submit()', data: { button_active_target: "brand"}}
          %>
        </div>
        <div class="routine-form-group">
          <%= f.input :all_appliance_id,
                      collection: @models,
                      include_blank: "Select a model",
                      disabled: @models.empty?,
                      input_html: { class: "routine-form-control", data: { button_active_target: "model"}} %>
        </div>
        <div class="routine-form-group">
        <%= f.input :nickname,
                    placeholder: "Enter a nickname",
                    input_html: { class: "routine-form-control", style: "background-color: black; color:white;" } %>
        </div>
      </div>
      <div class="routine-form-actions">
        <%= f.button :submit, "Add Appliance", class: "btn-secondary", data: { button_active_target: "button"} %>
      </div>
    <% end %>
  </div>
