<% @user_appliances.each do |appliance| %>
  <p><%= link_to appliance.all_appliance.model, user_appliance_path(appliance) %></p>
<% end %>

<%= link_to "Add Appliance", new_user_appliance_path, class: "btn btn-primary" %>
<br>

<h1>Average Prices by Hour and Day</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Hour</th>
      <th>Average Price</th>
    </tr>
  </thead>
  <tbody>
    <% @average_prices.each do |price| %>
      <tr>
        <td><%= price.day %></td>
        <td><%= price.hour %></td>
        <td><%= price.average_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
