<%= @user_appliance.all_appliance.model %>

<p><%= @user_appliance.all_appliance.brand %></p>
<p><%= @user_appliance.all_appliance.wattage %></p>



<%= button_to 'Back to Index', user_appliances_path, method: :get, class: 'btn btn-primary' %>



<%= link_to user_appliance_path(@user_appliance),
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                      class: "btn btn-danger" do %>
                      Delete
                  <% end %>
