<h1><%= @user_appliance.all_appliance.model %></h1>

<p><%= @user_appliance.all_appliance.brand %></p>


<h2>My Routines</h2>
<ul>
  <% @routines.each do |routine| %>
    <li>
      <strong><%= link_to routine.name, routine_recommendation_path(routine) %></strong>
      <ul>
        <li><%= "#{routine.starttime.strftime("%H:%M")}-" + routine.endtime.strftime("%H:%M") %>
          <%= link_to "Edit", edit_routine_path(routine), class: "btn btn-link" %>
          <%= link_to routine_path(routine),
                              data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your routine?" },
                              class: "btn btn-link" do %>
                    Delete
                  <% end %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>

<%= button_to 'Add routine', new_user_appliance_routine_path(@user_appliance), method: :get, class: 'btn btn-primary' %>

<%= button_to 'Back to Index', user_appliances_path, method: :get, class: 'btn btn-primary' %>

<%= link_to 'Edit Applaince', edit_user_appliance_path(@user_appliance), class: 'btn btn-warning' %>

<%= link_to user_appliance_path(@user_appliance),
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                      class: "btn btn-danger" do %>
                      Delete the Appliance
                  <% end %>
