
<div class="header" style="margin-bottom: 0!important;">
  <div class='d-flex align-items-center'>
    <%= link_to user_appliances_path, method: :get do %>
      <%= image_tag 'back.svg', style: "margin-right: 20px; margin-left: 10px;" %>
    <% end %>
  </div>
  <div class="inner-container">
    <h1><%= @user_appliance.all_appliance.subcategory %>: <%= @user_appliance.all_appliance.model %></h1>
  </div>
</div>

<p style="font-size: 20px; padding-left: 9px; margin-bottom: 5px;">Routines</p>
<div class="routines-container">
  <% if @routines.present? %>
    <% @routines.each do |routine| %>
      <div class="card-routine">
        <div class="routine-header">
          <div class="routine-time-icon">
            <%= image_tag render_time_with_icon(routine.starttime, routine.endtime), class: "routine-icon" %>
          </div>
          <div class="routine-info">
            <div class="top">
              <strong>
                <%= link_to routine.name, routine_recommendations_path(routine), class: "routine-link" %>
              </strong>
              <%= link_to edit_routine_path(routine), class: "edit-link" do %>
                <%= image_tag 'edit.svg', alt: 'Edit Routine', class: "edit-icon" %>
              <% end %>
            </div>
            <div class="top">
              <p class="routine-time">
                From <%= routine.starttime.strftime("%H:%M") %> to <%= routine.endtime.strftime("%H:%M") %>
              </p>
              <%= link_to routine_path(routine),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "delete-icon" do %>
              <i class="fas fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  <% else %>
    <p class="text-center" >no routines yet <br> add ↓</p>

  <% end %>
</div>

<div class="button-container"><%= button_to '+ NEW', new_user_appliance_routine_path(@user_appliance), method: :get, class: 'btn-add' %></div>

<%#= button_to 'Back to Index', user_appliances_path, method: :get, class: 'btn btn-primary' %>

<%#= link_to 'Edit Applaince', edit_user_appliance_path(@user_appliance), class: 'btn btn-warning' %>
<% performance = @user_appliance.performance_and_savings_this_year %>
<div class="performance-container mb-3" style="position: fixed;
                                              bottom: 160px;
                                              left: 50%;
                                              transform: translateX(-50%);
                                              padding: 0 16px;
                                              width: calc(100% - 32px);">
  <div class="performance-grade">
    <h2 style="font-size: 70px;"><%= performance[:rating] %></h2>
  </div>
  <div class="performance-savings">
    <p class="savings-amount" style="margin-bottom: 3px;">€<%= performance[:applied_savings].round(2) %></p>
    <p class="savings-label">Saved This Year</p>
  </div>
</div>


<%= link_to user_appliance_path(@user_appliance),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "btn-secondary",
            style: "position: fixed;
                    bottom: 120px;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0 16px;
                    width: calc(100% - 32px);" do %>
  Delete this Appliance
<% end %>
